html{ 
}
body{ 
	*cursor: default;
	user-select:none;
	font: 16px/1.5 "Microsoft YaHei", Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial;
}
body,div{
	width:100%;
	margin:0;
	padding:0;
	/*overflow-x:hidden;
	overflow-y:hidden;*/
}
ul{ 
	list-style: none;
}
h3{
	margin-top:10px;
	margin-bottom:10px;
}
.language-select{
	position:absolute;
	top:0;
	right:0;
	margin:20px;
}
.upload-main-div{
	width:1200px; 
	/*height:900px;*/
	margin: 0 auto; 
	background: #FFF; 
	text-align: center;
}
.upload-main-title{
	width:1200px; 
}
.ship-select-div{
	width:100%;
}
.ship-select,
.ship-search{
	width:350px;
}
.show-search-info-div{
	width:350px;
	height:100%;
	background-color: #fff;
	text-align: left;
	border:1px solid #ccc;
	margin-left:464px;
}
.img-state-div{
	width:575px;
	height:700px; 
	background: #FFF;
	float:left;
}
.img-normal-div{
	margin-right:50px; 
}
.img-special-div{
	height:700px; 
	background: #FFF;
}
.show-img{
	max-width:500px;
	max-height:500px;
}
.content-div{
	width:1600px;
	height:850px;
	margin:0 auto;
	background-color: rgba(0,0,0,0.05);
}
.page-text-title{
	text-align: center;
	margin-top: 30px;
}
.left-div{
	width:179px;
	height:800px;
	text-align: right;
	float:left;
}
.left-select{
	width:100px;
	padding-left:5px;
}
#kai,#kaini{
	float:right;
}
.position-left-div .input_text{
	width:60px;
}
.middle-div{
	height:800px;
	margin-left:20px;
	margin-right:20px;
	float:left;
}
.middle-canvas{
	border:1px solid #FF0000;
}
.right-div{
	width:179px;
	height:800px;
	text-align: left;
	float:left;
}
.right-min{
	width:50px;
	margin-top:0px;
	margin-bottom:0px;
	float:left;
}
.right-max{
	width:50px;
	margin-top:0px;
	margin-bottom:0px;
	float:left;
	margin-left:50px;
}
.menu-div{
	width:100%;
	height:25px;
	position:absolute;
	top:0px;
	text-align: center;
}
.menu-div span{
	margin-right:10px;
}
.menu-div select{
	margin-left:20px;
}
.page-select-text-span{
	
}
.secondBtn{
	margin-top: 15px;
}
.export_div{
	 width:100%;
	 height:100%;
	 background-color:rgba(0,0,0,0.75);
	 position:absolute;
	 top:0;
	 left:0;
	 text-align: center;
	 z-index:9;
}
.export_div p{
	color:#fff;
	margin:2px;
}
.export_div_button{
	margin:10px;
}
#ini p,#json p{
	margin:0px;
}
.level-div{
	text-align:center;
	position:absolute;
	top:885px;
	overflow: auto;
}
.course-main{
	background-color:rgba(0,0,0,0.75);
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	user-select: text;
}
.course-div{
	width:1200px;
	height:900px;
	background-color:#fff;
	margin: 0 auto;
	text-align: center;
	overflow:auto;
}
.course-button{
	width:50px;
	height:50px;
	font-size: 60px;
	color:red;
	position:absolute;
	top:-60px;
	right:200px;
}
.text-ul li{
	text-align: left;
	margin-left:260px;
}
#downloadInput{
	overflow: auto;
}





